@font-face {
  font-family: "GTA";
  font-weight: 300;
  src: url("../assets/fonts/GT-America-Standard-Regular.eot");
  src: url("../assets/fonts/GT-America-Standard-Regular.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/GT-America-Standard-Regular.woff2") format("woff2"),
    url("../assets/fonts/GT-America-Standard-Regular.woff") format("woff"),
    url("../assets/fonts/GT-America-Standard-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GTA";
  font-weight: 500;
  src: url("../assets/fonts/GT-America-Standard-Medium.eot");
  src: url("../assets/fonts/GT-America-Standard-Medium.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/GT-America-Standard-Medium.woff2") format("woff2"),
    url("../assets/fonts/GT-America-Standard-Medium.woff") format("woff"),
    url("../assets/fonts/GT-America-Standard-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "GTA";
  font-weight: 700;
  src: url("../assets/fonts/GT-America-Standard-Bold.eot");
  src: url("../assets/fonts/GT-America-Standard-Bold.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/GT-America-Standard-Bold.woff2") format("woff2"),
    url("../assets/fonts/GT-America-Standard-Bold.woff") format("woff"),
    url("../assets/fonts/GT-America-Standard-Bold.ttf") format("truetype");
}
