.gform_wrapper {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="tel"],
  .textarea,
  .gfield_select {
    width: 100%;
    font-family: sofia-pro, sans-serif;
    border: 0;
    border-bottom: 4px solid var(--color-border);
    border-bottom-right-radius: 8px;
    border-right: 4px solid var(--color-border);
    border-top-left-radius: 8px;
    border-radius: var(--border-radius);
    background-image: linear-gradient(
      rgba(163, 163, 167, 0.08),
      rgba(163, 163, 167, 0.16)
    );
    padding: 18px;
    @include fontSize(18px);
    outline: none;
    -webkit-appearance: none;

    &:active,
    &:focus {
      border-color: var(--color-primary);
    }

    ::-webkit-input-placeholder,
    ::-moz-placeholder,
    ::-ms-input-placeholder,
    ::-moz-placeholder {
      color: #eee;
    }
  }

  .gfield_error [type="text"],
  .gfield_error [type="email"],
  .gfield_error [type="url"],
  .gfield_error [type="tel"],
  .gfield_error .gfield_select {
    border-color: var(--color-error);
  }

  .gfield_select {
    position: relative;
  }

  .button {
    width: 100%;
    display: block;
    -webkit-appearance: none;
    @include fontSize(22px);
    padding: var(--spacer-small);
  }

  .textarea {
    width: 100%;
    padding: var(--spacer-small);
  }

  .gfield_label {
    display: block;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 2px 2px 0;
    text-transform: uppercase;
    color: var(--color-gray);
    margin-bottom: 8px;
    display: block;
  }

  .gfield_required {
    margin-left: 3px;
  }

  .gform_heading {
    margin-bottom: var(--spacer);
    text-align: center;

    .gform_title {
      text-transform: none;
      letter-spacing: 0;
    }
  }

  .gfield {
    margin-bottom: 40px;
  }

  .validation_error {
    @include fontSize(18px);
    color: var(--color-error);
    margin: 0 0 var(--spacer-small);
  }

  .validation_message {
    color: var(--color-error);
    font-size: 0.8rem;
    margin-top: 3px;
  }
}
