.wrapper {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1.875rem;

  @include breakpoint(landscape) {
    padding: 0 var(--spacing-default);
  }

  @include breakpoint(medium) {
    padding: 0 1.875rem;
  }
}
