@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

.button {
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  color: var(--color-light);
  font-weight: 700;
  border: 1px solid var(--color-primary);
  text-align: center;
  padding: 7px 20px 8px;
  display: inline-block;
  @include fontSize(14px);
  cursor: pointer;

  &:hover {
    background-color: var(--color-red);
    border-color: var(--color-red);
  }

  &--outline {
    background-color: var(--color-light);
    border-color: var(--color-primary);
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-light);
      border-color: var(--color-primary-hover);
      color: var(--color-primary-hover);
    }

    &:active {
      background-color: var(--color-light);
      border-color: var(--color-primary-active);
      color: var(--color-primary-active);
    }
  }
}

%shadow {
  box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.08);
}

%border-wrap {
  border-bottom: 4px solid var(--color-border);
  border-bottom-right-radius: 8px;
  border-right: 4px solid var(--color-border);
  border-top-left-radius: 8px;
}
