@import "../neat/neat-helpers";

// Change the grid settings
$column: 64px !global;
$gutter: 24px !global;
$grid-columns: 12 !global;
$max-width: 1270px;
// $visual-grid: true !global;
// $visual-grid-color: #eee !global;
// $visual-grid-index: back !global;

// Define your breakpoints
$small-only: new-breakpoint(max-width 767px 12);
$medium: new-breakpoint(min-width 768px 12);
$medium-height: new-breakpoint(min-height 800px 12);
$medium-only: new-breakpoint(min-width 768px max-width 959px 12);
$large: new-breakpoint(min-width 960px 12);

$nav-break: new-breakpoint(min-width 1150px 12);