<footer class="footer">
  <div class="container">
    <p class="info">
      Handcrafted in Philadelphia.<br />
      <a href="https://blacklivesmatter.com/">#BlackLivesMatter</a>
    </p>
  </div>
</footer>
