<nav class="projects-nav">
  <a class="all-projects" href="/portfolio">All Projects</a>
  <a class="wordpress-development"
    href="/portfolio/type/wordpress-development/">
    WordPress Development
  </a>
  <a class="website-design" href="/portfolio/type/website-design">
    Website Design
  </a>
</nav>
