<nav class="toggle">
  <a class="active"
    href="/team-type/investment-team"
    data-type="investment-team">
    Investment Team
  </a>
  <a href="/team-type/advisors" data-type="advisors">Advisors</a>
</nav>
