<div class="block block-form">
  <div class="container">
    {% filter shortcodes %}
      [gravityform id="{{ block.block_form__id }}" title="false"
      description="false" ajax="true" tabindex="49"]
    {% endfilter %}
  </div>
</div>
