<div class="block block-wysiwyg">
  <div class="container">
    {% if block.block_wysiwyg__sidebar %}
      <div class="col-md-6">
        <div class="wysiwyg">
          {{ block.block_wysiwyg__text }}
        </div>
      </div>
      <div class="col-md-6">
        <img src="{{ block.block_wysiwyg__image }}" alt="" />
      </div>
    {% else %}
      <div class="col">
        <div class="wysiwyg">
          {{ block.block_wysiwyg__text }}
        </div>
      </div>
    {% endif %}
  </div>
</div>
