<div class="block block-portfolio-nav">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav>
          <a class="smoothscroll" href="#primaries">Primaries</a><br />
          <a class="smoothscroll" href="#secondaries">Secondaries</a><br />
          <a class="smoothscroll" href="#directs">Directs</a>
        </nav>
      </div>
    </div>
  </div>
</div>
