<div class="block block-portfolio">
  <div class="container">
    {% include 'partials/projects-nav.twig' %}
    <div class="projects">
      {% for project in projects %}
        {% include 'partials/project.twig' %}
      {% endfor %}
    </div>
  </div>
</div>
