<div class="block block-clients">
  <div class="container">
    <div class="logos">
      <div class="text">
        <p class="large">
          {{ clients__text }}
        </p>
      </div>
      {% for logo in clients__logos %}
        <div class="logo">
          <img src="{{ Image(logo).src }}" alt="{{ Image(logo).alt }}" />
        </div>
      {% endfor %}
    </div>
  </div>
</div>
