.block.block-portfolio-nav {
  @include media-breakpoint-up(md) {
    margin: -$spacer * 3 0 $spacer * 3;
  }

  nav a {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: $spacer/2;
    color: $black;

    &:active,
    &:first-child {
      color: $primary;
    }
  }
}
