.block-2-boxes {
  &__item {
    height: 100%;
    background-color: $gray-100;
    padding: $spacer * 2;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      padding: $spacer * 3;
    }

    .btn {
      align-self: flex-start;
      margin-top: auto;
    }

    .headline-h2 {
      @include fontSize(22px);

      @include media-breakpoint-up(lg) {
        @include fontSize(30px);
      }
    }
  }
}
