.block-hero {
  text-align: center;
  padding: var(--spacer-medium) 0 0;

  @include breakpoint(medium) {
    padding: var(--spacer-large) 0 0;
  }

  .page-home & {
    padding-bottom: var(--spacer-large);
  }

  .screens {
    position: relative;
    display: flex;
    justify-content: center;
    margin: var(--spacer-small) auto 0;
    max-width: 86%;

    @include breakpoint(medium) {
      margin-top: var(--spacer);
    }

    picture {
      @extend %shadow;
      margin: 0 var(--spacer-small);
    }

    picture:first-child {
      position: absolute;
      top: 20%;
      z-index: 2;
      max-width: 50%;
    }
  }
}
