.block {
  margin: 0 0 var(--spacer);

  @include breakpoint(medium) {
    margin-bottom: var(--spacer-large);
  }

  &--inner {
    max-width: var(--max-width-block);
    margin: 0 auto;
  }

  .large {
    max-width: var(--max-width-block-small);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(medium) {
      max-width: var(--max-width-block);
    }
  }
}
