.block-word-image {
  .headline-h2 {
    margin-bottom: $spacer * 4;
    color: $primary;
  }

  .diagram-lg {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      max-width: 760px;
      margin: 0 auto;
    }
  }

  ul {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
