.block-contact {
  &__inner {
    @include breakpoint(medium) {
      display: flex;
    }
  }

  .form {
    flex: 1 1 65%;
  }

  .text {
    margin-top: var(--spacer);

    @include breakpoint(medium) {
      flex: 1 1 35%;
      margin-top: 0;
      padding-left: var(--spacer);
    }
  }
}
