.page-portfolio .all-projects,
.term-wordpress-development .wordpress-development,
.term-website-design .website-design {
  color: var(--color-primary);
}

.projects-nav {
  margin: -40px auto var(--spacer);
  padding: var(--spacer-small);
  text-align: center;
  border-top: 1px dotted var(--color-border);
  border-bottom: 1px dotted var(--color-border);

  a {
    @include fontSize(16px);
    font-weight: 700;
    margin: 0 20px;
    color: var(--color-gray-light);
    display: block;

    @include breakpoint(medium) {
      display: inline;
    }

    &.active {
      color: var(--color-gray);
    }
  }
}

.project {
  padding-top: var(--spacer);

  @include breakpoint(medium) {
    border-bottom: 1px dotted var(--color-border);
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    padding-top: var(--spacer-large);

    &:nth-child(2n) .text {
      order: 2;
    }

    &:nth-child(2n) .screen {
      order: 1;
    }
  }

  &:first-child {
    padding-top: var(--spacer);
  }

  .text {
    flex: 1 1 50%;
    order: 1;

    @include breakpoint(medium) {
      padding: 0 var(--spacer);
    }

    h4 {
      margin-bottom: 2px;
    }

    .url {
      display: inline-block;
      font-weight: 700;
      color: var(--color-gray-light);
      @include fontSize(15px);
      margin-bottom: var(--spacer-small);
    }
  }

  .screen {
    flex: 1 1 50%;
    position: relative;
    order: 2;
    border-bottom: 1px dotted var(--color-border);
    overflow-y: hidden;
    margin-bottom: var(--spacer-small);

    @include breakpoint(medium) {
      border-bottom: 0;
      overflow-y: visible;
      margin-bottom: 0;
    }

    img {
      box-shadow: var(--box-shadow);
      display: block;
      margin: 0 0 -12px;
      max-width: 100%;

      &:hover {
        animation-delay: 0;
        animation-duration: 0.4s;
        animation-fill-mode: both;
        animation-name: screenHover;
        animation-timing-function: cubic-bezier(0.66, 0.01, 0.82, 0.96) 0.4s;
      }
    }
  }
}

@keyframes screenHover {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -12px, 0);
  }
}
