.block-clients {
  text-align: center;
  background-image: linear-gradient(var(--color-shaded), var(--color-light));
  overflow: hidden;
  padding-top: var(--spacer-large);

  .block-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logos {
    border-bottom: 1px dotted var(--color-border);
    padding-bottom: var(--spacer-large);
    display: grid;
    grid-gap: var(--spacer-small);
    grid-template-columns: repeat(2, 1fr);

    .page-about & {
      border-bottom: 0;
      padding-bottom: var(--spacer-small);
    }

    @include breakpoint(large) {
      padding-right: var(--spacer);
      grid-template-columns: repeat(6, 1fr);
    }

    .logo {
      background-color: var(--color-light);
      padding: var(--spacer-small);
      text-align: center;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      display: flex;
      align-items: center;
      box-shadow: var(--box-shadow-small);
      height: 120px;

      img {
        display: block;
        margin: 0 auto;
        max-width: 140px;
        max-height: 100%;

        @include breakpoint(large) {
          max-width: 100%;
        }
      }
    }

    .text {
      grid-column-start: 1;
      grid-column-end: span 2;
      grid-row-start: 1;
      grid-row-end: span 2;
      padding: var(--spacer-small);

      @include breakpoint(large) {
        display: flex;
        align-items: center;
        grid-column-start: 4;
        grid-column-end: span 3;
        grid-row-start: 1;
        grid-row-end: 3;
        padding-left: var(--spacer-small);
      }

      .large {
        margin: 0;
        @include fontSize(22px);
        line-height: 1.5;
        font-weight: 700;
        text-align: left;
        color: var(--color-gray);

        @include breakpoint(large) {
          @include fontSize(28px);
        }
      }
    }
  }
}
