.block-hero {
  color: $white;
  padding: $spacer * 6 0 $spacer * 4;

  @include media-breakpoint-up(md) {
    padding: $spacer * 8 0 $spacer * 22;
  }

  .page:not(.page-home) & {
    @include bgCover($primary);
  }

  video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &--one-column {
    padding: $spacer * 9 0;

    .headline-h1 {
      max-width: 960px;
      margin-bottom: 0;
    }
  }

  &--two-columns {
    padding: $spacer * 6 0 $spacer * 4;

    @include media-breakpoint-up(md) {
      padding: $spacer * 8 0 $spacer * 22;
    }
  }

  &__inner {
    position: relative;
    z-index: 2;
  }

  &__text {
    p {
      margin: 0;
    }

    @include media-breakpoint-up(md) {
      padding: 0 $spacer 0 0;
    }
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
  }

  &--top .bg {
    object-position: center top;
  }

  &--center .bg {
    object-position: center center;
  }

  &--bottom .bg {
    object-position: center bottom;
  }
}
