.block-services {
  text-align: center;

  .services {
    display: grid;
    grid-gap: var(--spacer-small);
    margin: var(--spacer) auto;
    max-width: var(--max-width-wide);

    @include breakpoint(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .service {
    background-color: var(--color-shaded);
    padding: var(--spacer-medium);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;

    &:nth-child(2) {
      border-top-left-radius: 0;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 20px;
    }

    &:nth-child(3) {
      border-top-left-radius: 0;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 20px;
    }

    h3 {
      @include fontSize(13px);
    }

    h4 {
      margin-bottom: 0;
    }

    .pricing {
      @include fontSize(15px);
      color: var(--color-gray-light);
      margin: 0 0 var(--spacer-small);
      position: relative;

      &::before {
        width: 80px;
        height: 1px;
        border-top: 1px solid #ccc;
        content: " ";
        display: block;
        margin: 20px auto 10px;
      }
    }

    .summary {
      margin-bottom: var(--spacer-small);
    }

    .button {
      margin: auto auto 0;
      display: inline-block;
    }
  }
}
