.block-hero {
  text-align: center;
  padding: var(--spacer-large) 0 0;

  .page-home & {
    padding-bottom: var(--spacer-large);
  }

  .screens {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: var(--spacer);

    picture {
      @extend %shadow;

      @include breakpoint(medium) {
        margin: 0 var(--spacer-small);
      }
    }

    picture:first-child {
      @include breakpoint(medium) {
        position: absolute;
        top: 20%;
        left: 30%;
        z-index: 2;
      }
    }
  }
}
