.tax-team_type {
  .block-hero {
    background-color: $primary;
  }

  .block-team .grid [data-type="advisors"] {
    display: block;
  }

  &.term-advisors .toggle {
    [data-type="advisors"] {
      border-color: $primary;
    }

    [data-type="investment-team"] {
      border-color: transparent;
    }
  }
}

.block-team {
  .toggle {
    margin: 0 0 $spacer * 2;
    padding: 0;
    display: flex;

    a {
      text-transform: uppercase;
      font-weight: 700;
      color: $black;
      padding-bottom: $spacer/2;
      border-bottom: 1px solid transparent;
      margin-right: $spacer * 2;

      &.active {
        border-color: $primary;
      }
    }
  }

  .text-desc {
    @include fontSize(22px);
  }

  .text-advisors {
    display: none;
  }

  .grid {
    margin: $spacer * 2 0;
    display: grid;
    grid-gap: $spacer * 2;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: $spacer * 5 $spacer * 3;
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    [data-type="advisors"] {
      display: none;
    }
  }

  .person {
    position: relative;
    border-radius: 1px;

    img {
      filter: grayscale(1);
    }

    &:hover {
      .person__info {
        transition: background-color 0.1s ease-in;
        background-color: rgba($primary, 0.9);
      }

      img {
        transition: filter 0.1s ease-in;
        filter: grayscale(0);
      }
    }

    &__info {
      border-radius: 1px;
      width: 100%;
      position: absolute;
      bottom: 7px;
      right: 0;
      background-color: rgba($black, 0.9);
      padding: $spacer;
      color: $white;

      @include media-breakpoint-up(md) {
        width: 70%;
        bottom: -$spacer;
        right: -$spacer;
      }

      h3 {
        @include fontSize(20px);
      }

      p {
        text-transform: uppercase;
        @include fontSize(14px);
        line-height: 1.4;
        margin: $spacer/4 0 0;
      }
    }
  }
}

// .ajax-load-more-wrap {
//   width: 100%;
// }

// .alm-btn-wrap {
//   display: none;
// }
