.block-wysiwyg {
  max-width: var(--max-width-wide);
  margin-left: auto !important;
  margin-right: auto !important;

  .wysiwyg p:last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: var(--spacer-small);
  }

  &.two .block-wysiwyg__inner {
    display: flex;

    .wysiwyg {
      flex: 1 0 65%;
    }

    .photo {
      flex: 1 1 35%;
      padding: 10px 0 0 var(--spacer-medium);

      img {
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: var(--box-shadow);
      }
    }
  }

  ul,
  ol {
    padding: 0 0 0 2rem;
    margin: 0 0 var(--spacer);

    li {
      margin: 0 0 0.5rem;
      padding: 0;
    }
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  .alignright {
    float: right;
    margin: 0 0 var(--spacer-medium) var(--spacer-medium);
  }

  .alignleft {
    float: left;
    margin: 0 var(--spacer-medium) var(--spacer-medium) 0;
  }

  .aligncenter {
    margin: 0 auto;
    display: block;
  }

  .alignnone {
    margin-top: var(--spacing-default);
    margin-bottom: var(--spacing-default);
  }

  .wp-caption-text {
    color: var(--color-gray-light);
    @include fontSize(15px);
    margin-top: 4px;
  }
}
