.single-cpt_investments {
  .block-portfolio__hero {
    min-height: 400px;
    display: flex;
    align-items: center;

    h1 {
      margin: 0;
    }
  }
}

.block-portfolio {
  &__hero {
    position: relative;
    color: $white;
    padding: $spacer * 4 0;
    z-index: 2;
    @include bgCover($primary);

    .container {
      position: relative;
      z-index: 2;
    }

    .portfolio-headline {
      display: flex;
      align-items: center;

      .headline-h2 {
        margin: 0;
      }
    }

    video {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .stats {
      background-color: $secondary;
      padding: $spacer * 2;

      strong {
        @include fontSize(34px);
      }

      &__item {
        border-bottom: 1px solid $primary;
        padding: $spacer * 1.5 0;
        display: flex;

        p {
          width: 50%;
          flex: 1 1 50%;

          @include media-breakpoint-up(md) {
            &:first-child {
              text-align: right;
            }
          }
        }

        &:last-child {
          border: 0;
        }
      }
    }

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center bottom;

      &--top {
        object-position: center top;
      }

      &--center {
        object-position: center center;
      }

      &--bottom {
        object-position: center bottom;
      }
    }
  }

  &__investments {
    margin-top: $spacer * 4;
    margin-bottom: $spacer * 4;

    h2 {
      margin-bottom: $spacer * 2;
    }
  }

  &__investment {
    margin-bottom: $spacer * 4;

    img {
      margin: 0 auto;
      display: block;
      max-width: 300px !important;
    }

    p {
      max-width: 480px;
      padding: $spacer * 2 0 0;
      @include fontSize(16px);
    }
  }

  &__wysiwyg {
    margin: $spacer * 2 0;

    @include media-breakpoint-up(md) {
      margin: $spacer * 4 0;
    }
  }

  &__quote {
    margin: $spacer * 2 0;

    @include media-breakpoint-up(md) {
      margin: $spacer * 4 0;
    }

    img {
      width: 220px;
      height: 220px;
    }

    blockquote {
      p {
        color: $primary;
        @include fontSize(26px);
        line-height: 1.4;
        font-weight: 600;
        position: relative;
      }
    }

    .quote-text {
      display: flex;
      align-items: flex-end;
      margin-bottom: $spacer;
    }
  }
}

.quote-mark:first-child {
  position: absolute;
  top: 0;
  left: -18px;
}

.quote-mark:last-child {
  margin-left: -2px;
}
