.block {
  margin-bottom: var(--spacing-default);
  position: relative;

  &--shaded {
    background-color: var(--color-shaded);
    padding: var(--spacing-default) 0;

    .block--anchor {
      top: -1rem;
    }
  }

  &--anchor {
    position: absolute;
    top: -5rem;
  }

  .block-padded {
    max-width: var(--max-width-block);

    @include breakpoint(small) {
      margin: 0 1.875rem;
    }
  }
}
