.block-portfolio-more {
  background-color: $gray-100;
  padding: $spacer * 4 0 $spacer * 8;
  margin: -$spacer * 2 0 0 0;

  strong {
    color: $primary;
    text-transform: uppercase;
    display: block;
    margin-bottom: $spacer * 2;
  }
}
