{% extends 'base.twig' %}
{% block content %}
  <div class="block block-hero block-hero--one-column">
    <div class="container block-hero__inner">
      <div class="row">
        <div class="col-12">
          <div class="block-hero__text">
            <h1 class="headline-h1">
              Our team
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block block-team">
    <div class="container">
      <div class="row">
        <div class="col">
          {% include 'partials/team-toggle.twig' %}
          <div class="grid">
            {% for post in posts %}
              {% include 'partials/person.twig' with {
                person: post
              } %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
