<a class="brief" href="{{ post.link }}">
  <strong>NEWS</strong>
  <span class="date">{{ post.date('m/d/Y') }}</span>
  <h2 class="headline-h2">
    {{ post.title }}
  </h2>
  <span class="btn btn-outline-primary">Read more</span>
</a>
