{% extends 'base.twig' %}
{% block content %}
  <div class="block block-search-results">
    <div class="container">
      <div class="row">
        <header class="col">
          <h1>
            Search results: {{ search_term }}
          </h1>
        </header>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {% filter shortcodes %}
            [ajax_load_more container_type="div" repeater="template_1"
            post_type="post" search="{{ search_term }}" posts_per_page="10"
            scroll="false" transition_container="false" button_label="View
            More"]
          {% endfilter %}
          {# {% for post in posts %}
      {% include ['tease-' ~ post.post_type ~ '.twig', 'tease.twig'] %}
    {% endfor %} #}
        </div>
        <aside class="col-md-4">
          {% include 'partials/blog-sidebar.twig' %}
        </aside>
      </div>
    </div>
  </div>
{% endblock %}
