{% extends 'base.twig' %}

{% block content %}
  <div class="block block-hero block-hero--one-column">
    <div class="container block-hero__inner">
      <div class="row">
        <div class="col-12">
          <div class="block-hero__text">
            <h2 class="headline-h1">
              News
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block block-post">
    <div class="container">
      <div class="row">
        <article class="col-md-10 offset-md-1">
          <header class="block-post__header">
            <h1 class="headline-h1">
              {{ post.title }}
            </h1>
            <p class="date">
              {{ post.date }}
            </p>
          </header>
          <section class="block-post__content">
            {{ post.content|wpautop }}
          </section>
        </article>
      </div>
    </div>
  </div>
{% endblock %}
