{% extends 'base.twig' %}
{% block content %}
  {% include 'blocks/block-bio.twig' %}
  {% include 'blocks/block-collapse.twig' %}
  <div class="block block-2-boxes">
    <div class="container">
      <div class="row">
        {% set count = 0 %}
        {% for box in promo__boxes %}
          {% set count = count + 1 %}
          <div class="col-md-6">
            <div class="block-2-boxes__item">
              <h2 class="headline-h2">
                {{ box.box_headline }}
              </h2>
              {% if box.box_link %}
                <a href="{{ box.box_link.url }}"
                  class="btn btn-outline-primary">
                  {{ box.box_link.title }}
                </a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
