{% extends 'base.twig' %}
{% block content %}
  <div class="block block-team">
    <div class="container">
      <div class="row">
        <div class="grid">
          {% for post in posts %}
            {% include 'partials/person.twig' with {
              person: post
            } %}
          {% endfor %}!!!
        </div>
      </div>
    </div>
  </div>
{% endblock %}
