.footer {
  grid-area: footer;
  background-color: var(--color-dark);
  color: var(--color-light);
  @include fontSize(15px);
  z-index: 2;
  text-align: center;

  a {
    color: var(--color-light);
  }

  .info {
    margin: var(--spacer) auto 0;
    font-weight: 700;
  }

  .social {
    margin: 15px auto 0;

    svg {
      width: 20px;
      margin: 0 6px;

      path {
        fill: var(--color-gray-light);
      }

      &:hover path {
        fill: var(--color-light);
      }
    }
  }
}
