.skip-link {
  display: none;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  background: var(--color-light);
  border-bottom: 1px solid #eee;
  height: var(--header-height-sm);
  z-index: 3;

  @include breakpoint(medium) {
    height: var(--header-height);
  }

  &__inner {
    height: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
  }

  .logo {
    flex: 1 1 20%;
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
    }

    svg {
      height: 65px;
      margin-left: -20px;
    }
  }

  .nav-main {
    flex: 1 1 80%;
  }
}
