.skip-link {
  display: none;
}

.header {
  grid-area: header;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height-sm;
  background-color: var(--color-light);
  z-index: 9999;
  padding: var(--spacer-small) var(--spacer);

  @include breakpoint(large) {
    height: $header-height;
  }

  &.is-stuck {
    position: fixed;
    top: -$header-height-sm;
    left: 0;
    background-color: var(--color-light);
    box-shadow: 0 4px 4px -2px rgba(#eee, 0.5);
    animation-name: nav_in_sm;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.66, 0.01, 0.82, 0.96) 0.4s;
    animation-delay: 0;
    animation-fill-mode: both;

    @include breakpoint(large) {
      height: 80px;
      animation-name: nav_in;
      top: -$header-height;

      .header__inner {
        height: 80px;
      }

      .logo img {
        width: 180px;
      }

      .nav-login {
        display: none;
      }

      .nav-link {
        align-items: center;
        margin-bottom: 0;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    height: $header-height-sm;
    justify-content: space-between;

    @include breakpoint(large) {
      height: $header-height;
    }
  }
}

.nav-main {
  ul {
    display: flex;

    li {
      margin: 0 0 0 var(--spacer);
    }
  }

  .nav-link {
    font-weight: 700;
  }
}
