// .post-quotes {
//   margin: $spacer * 5 0;
//   padding: $spacer * 4 0;
//   position: relative;

//   &::before,
//   &::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: block;
//     width: 60px;
//     height: 44px;
//     background-size: 60px 44px;
//     background-image: url(../assets/images/quote.png);
//   }

//   &::after {
//     top: auto;
//     bottom: 0;
//     transform: rotate(180deg);
//   }

//   blockquote {
//     margin: 0 0 $spacer;

//     &:last-child {
//       margin-bottom: 0;
//     }

//     p {
//       font-style: italic;
//     }

//     footer {
//       @include fontSize(14px);
//       text-transform: uppercase;
//       display: block;

//       @include media-breakpoint-up(lg) {
//         margin-left: $spacer * 4;
//       }
//     }
//   }
// }

.block-post__content blockquote {
  margin: $spacer * 4 0;
  padding: $spacer * 4 0;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 60px;
    height: 44px;
    background-size: 60px 44px;
    background-image: url(../assets/images/quote.png);
  }

  &::after {
    top: auto;
    bottom: 15px;
    transform: rotate(180deg);
  }

  p {
    font-style: italic;
    margin: 0;
  }

  strong {
    @include fontSize(14px);
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    margin: $spacer 0;
    font-style: normal;

    @include media-breakpoint-up(lg) {
      margin-left: $spacer * 4;
    }
  }
}
