.brief {
  text-align: left;
  margin-bottom: var(--spacing-box);

  @include breakpoint(medium) {
    margin-bottom: 0;
  }

  a {
    display: block;

    @include breakpoint(medium) {
      padding: var(--spacing-box);
    }
  }

  img {
    display: block;
    margin-bottom: var(--spacing-text);
  }

  p {
    color: var(--color-text);
    margin: 0;
  }

  &:hover {
    background-color: var(--color-light);
    box-shadow: var(--box-shadow);
    transform: scale(1.01);
    transition: all 0.3s ease-in;

    h2 {
      color: var(--color-primary);
    }
  }
}
