.blog-share {
  position: sticky;
  top: 20px;
  margin: 0 0 var(--spacing-default);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;

    .single-post & {
      justify-content: flex-start;
    }
  }

  span {
    margin: -8px 10px 0 0;
  }

  a {
    padding: 0;
  }

  svg {
    width: 30px;
    height: 30px;
    margin: 0 8px 0 0;
  }
}
