.social {
  display: flex;
  align-items: center;
  margin: $spacer * 2 0;

  a {
    margin: 0 $spacer * 1.5 0 0;

    &:hover svg {
      fill: $primary;
    }
  }

  svg {
    width: 30px;
    height: 30px;
    fill: #868686;
  }
}
