.stats {
  margin: $spacer * 2 auto;
  max-width: 480px;

  @include media-breakpoint-up(lg) {
    margin-left: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      text-align: left;
    }

    p {
      margin: 0 0 $spacer/2;

      @include media-breakpoint-up(lg) {
        &:first-child {
          flex: 1 1 30%;
          padding-right: $spacer;
        }

        &:last-child {
          flex: 1 1 70%;
          font-weight: 300;
          max-width: 320px;
        }
      }
    }

    strong {
      @include fontSize(60px);
      font-weight: 700;
    }
  }
}
